server:
  port: 9000
  tomcat:
    uri-encoding: utf-8
  servlet:
    encoding:
      force: true
      charset: UTF-8
      enabled: true


spring:


  mvc:
    view:
      prefix: /
      suffix: .jsp


  datasource:
    url: jdbc:mysql://localhost:3306/yoga1?characterEncoding=UTF8
    username: root
    password: '0000'
    driver-class-name: com.mysql.jdbc.Driver